*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

/* * {
    margin: 0;
    padding: 0;
} */

header {
    min-height: 50px;
    padding: 1em 0;
}

footer {
    padding: 2em 0;
}

ul,li {
    list-style-type: none;
}

button, 
button:active, 
button:focus,
input {
    outline: none;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: grey;
    padding-left: 5%;
}

::-moz-placeholder {
    color: grey;
    padding-left: 5%;
}

:-ms-input-placeholder {
    color: grey;
    padding-left: 5%;
}

::-ms-input-placeholder {
    color: grey;
    padding-left: 5%;
}

::placeholder {
    color: grey;
    padding-left: 5%;
}

.hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*Стили текста*/

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: 700;
}

/*---*/

/* Позиционирование */

/* .flex {
    display: flex;
    flex-flow:row wrap;
    
} */

.flex-col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
}

.flex-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
}

.flex-space-btw {
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.flex-align-end {
    -webkit-box-align: end;
            align-items: flex-end;
}

.flex-align-center {
    -webkit-box-align: center;
            align-items: center;
}

.position-rel {
    position: relative;
}

.margin-bot-15 {
    margin: 0 0 15%;
}

.margin-bot-10 {
    margin: 0 0 10%;
}

.margin-bot-5 {
    margin: 0 0 5%;
}

.margin-bot-3 {
    margin: 0 0 3%;
}

.margin-bot-2 {
    margin: 0 0 2%;
}

/* Позиционирование */



.width-half {
    width: 50%;
}

.container-1140 {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.container-940 {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.head__left-logo p,
.foot-logo p {
    
    color: #000000;    
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.head__left-logo img,
.foot-logo img {
    padding: 0 1em 0 0;
}

.head__left-city img {
    padding: 0 1em 0 0;
}

.head__right-phone{
    -webkit-box-pack: end;
            justify-content: flex-end;
}

.head__right-phone a,
.foot-phone a {
    color: #000000;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.head__right-button{
    -webkit-box-pack: center;
            justify-content: center;
}

.red-button--s {
    /* height: 40px;
    width: 180px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(120deg, red 30% , white, red); */


    /* width: 165px;
    height: 40px; */
    box-shadow: 0 5px 13px rgba(228, 4, 4, 0.3);
    border-radius: 20px;
    /* background-color: #ffce09; */
    background-image: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
    border-width:0;
    /* color: #fff; */
    padding: 13px 34px;
}

.red-button--m {

    /* width: 225px;
    height: 55px;
    padding: 16px 13px;
    box-shadow: 0 5px 29px rgba(228, 4, 4, 0.3);
    border-radius: 28px;
    background-color: #ffce09;
    background-image: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
    border-width: 0;
    color: #fff; */

    padding: 21px 45px;
    box-shadow: 0 5px 29px rgba(228, 4, 4, 0.3);
    border-radius: 28px;
    /* background-color: #ffce09; */
    background-image: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
    border-width: 0;
}

.red-button--xl {
    
    /* width: 300px;
    height: 65px; */
    box-shadow: 0 5px 29px rgba(228, 4, 4, 0.3);
    border-radius: 33px;
    /* background-color: #ffce09; */
    background-image: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
    border-width: 0;
    /* color: #fff; */
    padding: 26px 55px;
}

.color-white {
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
}

input[type="text"] {
    padding: 18px 15px;
    margin-bottom: 10px;
    /* background: #E9EFF6; */
    border: 2px solid #cecece;
    border-radius: 30px;
}

.top {
    background-image: url('../img/bg-1.webp');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 700px;
}

.top__title {
    text-align: center;
    margin: 0 0 6%;
}

.top__title h1 {
    margin: 0 auto;
    padding: 1em 0 0;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.top__h2  {
    font-size: 1.5rem;
    color: #fff;
}

.top__slider {
    min-height: 45vh;
    -webkit-box-pack: center;
            justify-content: center;
}

.top__slider p {
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 5%;
}
.top img {
    position: absolute;
    top: 45%;
    right: 10%;
    z-index: 100;
}

.top__pagination {
    width: 150px;
    text-align: center;
    position: relative;
    top: 90px;  
}
  
.top__pagination > li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    font-size: 0;
    border: 1px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    background: #ccc;
}

.top__pagination li:hover {
      background: blue;
}  


.top__arrows {
    font-size: 0;
}

.top__arrows--left-arrow {
    background-image: url('../img/left-arrow.png');
    position: absolute;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    left: 30%;
    top: 50%;
}

.top__arrows--right-arrow {
    background-image: url('../img/right-arrow.png');
    position: absolute;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    right: 30%;
    top: 50%;
}

.screen-2 {
    min-height: 530px;
}

.screen-2 img {
    position: absolute;
    top: 108%;
    right: 41%;
    z-index: 100;
}

.screen-2__left, .screen-2__right  {
    max-width: 500px;
}

.screen-2__left { 
    margin-right: 7%;
}

.screen-2__h2  {
    font-size: 2.5em;
    text-transform: uppercase;
}

.screen-2__left p {
    font-size: 1.6em;
}

.screen-2__left img {
    z-index: -5;
    position: relative;
    top: 40px;
    left: -60px;
}

.screen-2__right form,
.screen-4 form,
.screen-8 form {
    border: 8px solid #3a5896;
}

.form-inner{
    padding: 50px;
    text-align: center;
}

.form__h2 {
    font-size: 1.5em;
    margin: 0 0 5%;
}

/* .form-inner p {
    margin: 0 0 5%;
} */

/* .form-inner input[type="number"] {
    padding: 18px 15px;
    margin-bottom: 10px;
    background: #E9EFF6;
    border-width: 0;
    border-radius: 30px;
} */

.politics {
    color: #ccc;
    font-size: 0.9em;
}

.politics a {
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

.screen-3 {
    background: #f5f5f5;
    min-height: 815px;

}

.screen-3 h2,
.screen-4 h2,
.screen-5 h2,
.screen-6 h2,
.screen-7 h2,
.screen-8 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 10% 0 0;
}

.blue-text {
    color: #3a5896;
    font-size: 2em;
    text-align: center;

}

.screen-3__wrapper {
    justify-content: space-around;
}


.screen-3__four-cells {
    display: -webkit-box;
    display: flex;
    max-width: 480px;
}

.screen3__four-cells p {
    font-size: 1.1em;
}

.screen-3__img {
    position: relative;
    bottom: 20px;
    left: 10px;
}

.screen-4 {
    min-height: 650px;
}

/* .screen-4 form {
    border: 8px solid #3a5896;
    max-width: 810px;
    margin: 0 auto;
} */

.form-inner h3 {
    font-size: 1.4em;
}

.screen-4 img {
    position: absolute;
    top: 171px;
    left: 81%;
}

.screen-5 {
    background-color: #efefef;
    min-height: 500px;
}

.screen-5__three-in-row {
    position: relative;
}

.screen-5__three-in-row img {
    position: absolute;
    left: -50%;
}

.screen-5__three-in-row > div {
    -webkit-box-flex:1;
            flex:1 0 20%;
    padding-left: 100px;
    position: relative;
    z-index: 0;
}

 .first-col::before {
    content: "";
    background-image:url('../img/1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 60%;
    left: 30px;
    z-index: -1;
}


.second-col::before {
    content: "";
    background-image:url('../img/2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 60%;
    left: 30px;
    z-index: -1;
}


.third-col::before {
    content: "";
    background-image:url('../img/3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 60%;
    left: 30px;
    z-index: -1;
} 

.first  p:first-child,
.second p:first-child,
.third  p:first-child {
    font-size: 1.3em;
    padding-bottom: 20px;
    
}

.first p:nth-child(2) , 
.second p:nth-child(2), 
.third p:nth-child(2) {
    font-family: sans-serif;
    font-size: 0.9em;
    opacity: 0.7;
} 

.eight-elem__part p {
    width: 100px;
    height: 100px;
    background-color: #3a5896;
    border-radius: 50%
}


.screen-6__first-p {
    padding: 0 25%;
    line-height: 1.5;
}
.screen-6__eight-elem >  figure {
    -webkit-box-flex: 1;
            flex: 1 1 25%;
    -webkit-box-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: flex;
    padding: 0 0 50px;
}

.screen-6__eight-elem {
    width: 90%;
}

.eight-elem__part p:hover {
    background-color: red;
}

.eight-elem__part img {
    position: relative;
    right: 10px;
    bottom: 10px;
}

.screen-6__slider {
    text-align: center;
    padding: 0 0 50px;
}

.screen-6__slider h3 {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.screen-6__slider p {
    font-size: 1.2em;
    padding: 0 19%;
    margin-bottom: 5%;
}

.screen-6__arrows {
    position: relative;
    bottom: 100px;
}

.screen-6__arrows button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.screen-6__arrows--left {
    position: absolute;
    left: 0;
}

.screen-6__arrows--right {
    position: absolute;
    right: 0;
}

.screen-7  {
    background-color: #efefef;
    min-height: 500px;
    position: relative;
}

.screen-7__img {
    position: absolute;
    right: -3%;
    top: -18%;
}

.screen-7__docs {
    position: relative;
    margin: 10px auto;
    box-shadow: 1px 11px 20px 0px #cecece
}

.screen-7__docs img {
    height: 100%;
    width: 100%;
}

.screen-7__hover-area {
    position: absolute;
    top: 0;
    display: none;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 42, 107, 0.76);
}

.screen-7__row-3-docs {
    padding: 0 0 50px;
    max-width: 940px;
    width: 100%;
}

.screen-7__docs:hover .screen-7__hover-area {
  display: -webkit-box;
  display: flex;
}

.screen-7__btn {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 10px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.screen-8__form {
    max-width: 810px;
    margin: 0 auto;
}

.screen-8 {
    min-height: 500px;
    position: relative;
    padding: 0 0 13vh;
    
}

/* .screen-8 form {
    border: 8px solid #3a5896;
    max-width: 840px;
    margin: 0 auto 10%;
} */

.screen-8 img {
    position: absolute;
    right: 13%;
    top: 55%;
}

.screen-9 {
    background: url('../img/map.webp');
    background-repeat: no-repeat;
    min-height: 550px;
}

.screen-9__contact {
    -webkit-box-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    padding-top:73px;
}

.screen-9__contact::before{
    box-shadow: 0px 0px 50px 60px #fff, inset 0px 1px 20px 20px #fff;
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgba(255,255,255,0.9);
    position: absolute;
    top: 40px;
}

.screen-9__contact-top {
    padding: 0 101px 50px;
    font-size: 1.5em;
    z-index: 1;
}

.screen-9__contact span {
    padding-bottom: 20px;
    z-index: 1;
}

.screen-9__bottom {
    padding-top: 17%;
}

.screen-9__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    box-shadow: 0 10px 20px #cecece;
    background-color: #fff;
    padding: 50px;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 810px;
} 

.screen-9__form p:first-child {

    -webkit-box-flex: 0;

            flex: 0 1 24%;
    /* padding: 0px 50px 0; */
    line-height: 1.5;
}
.screen-9__input{
    /* flex: 1; */
    -webkit-box-flex: 0;
            flex: 0 1 30%;
    margin: 0px 40px;
    /* border-radius: 20px;
    border-width: 0;
    background-color: #cecece;
    padding: 15px 0px; */
}
.screen-9__form button {
    -webkit-box-flex: 1;
            flex: 1;
    -webkit-box-flex: 0;
            flex: 0 1 30%;
}
.form-p {
    -webkit-box-flex: 1;
            flex: 1 1 100%;
    text-align: center;
}

.foot-rek {
    -webkit-box-flex: 0;
            flex: 0 1 20%;
}

.foot-logo {
    -webkit-box-flex: 0;
            flex: 0 1 30%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
            justify-content: center;
}

.foot-phone{
    -webkit-box-flex: 0;
            flex: 0 1 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
}


@media (max-width: 1280px) {
    .screen-4 img,
    .screen-8 img,
    .top img {
        display: none;
    }
}

